# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Various detritus
Thumbs.db
*.bak
*.old
*.~
*~

# Test/dummy media files
*.mpg
*.mpeg
*.avi
*.mp3
*.wav
*.flac
*.ogg
*.ogv

# Output binary
dumbmediacenter

